{% extends "_layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<section class="pad-tb min-h">
   <div class="container">
      <div class="row a-center">
         <div class="col-md-6 text-center wow fadeIn">
            <div class="mb-3">
               <img src="/assets/frontend/images/regimg.png" alt="Create new trip illustration">
            </div>
            <div class="title mbtm30 text-center">
               <h2 class="text-t-none">Password Reset</h2>
            </div>
            <div>
               <img src="/assets/frontend/images/revs.png" alt="Reviewers illustration">
            </div>
         </div>
         <div class="col-md-6">
            <div class="formBox wow fadeInUp">
               <div class="row">
                  <div class="col-md-12">
                     <div class="title mbtm30 text-center">
                        <h2 class="text-t-none text-left">Recover your password</h2>
                     </div>
                  </div>
               </div>
               <div>
                  <form class="formField" action="/forgot-password" method="POST">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-floating mb-3">
                                 <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                    required>
                                 <label for="floatingInput">Email</label>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <input type="submit" value="Recover Password">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}