{% extends "_layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<section class="pad-tb min-h">
   <div class="container">
      <div class="row a-center">
         <div class="col-md-6 text-center wow fadeIn">
            <div class="mb-3">
                  <img src="/assets/frontend/images/regimg.png" alt="Create new trip illustration">
            </div>
            <div class="title mbtm30 text-center">
               <h2 class="text-t-none">Password Reset</h2>
            </div>
            <div>
               <img src="/assets/frontend/images/revs.png" alt="Reviewers illustration">
            </div>
         </div>
         <div class="col-md-6">
            <div class="formBox wow fadeInUp">
               <div class="row">
                  <div class="col-md-12">
                     <div class="title mbtm30 text-center">
                        <h2 class="text-t-none text-left">Reset your password</h2>
                     </div>
                  </div>
               </div>
               <div>
                  <form class="formField" action="/reset-password/{{ token }}" method="POST">
                     <div class="container">
                        <div class="row">

                           <div class="col-md-12">
                              <div class="form-floating mb-3">
                                 <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter Password" required>
                                 <label for="floatingInput">Password</label>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating mb-3">
                                 <input type="password" class="form-control" id="password_confirmation"
                                    name="password_confirmation" placeholder="Enter Confirm Password" required>
                                 <label for="floatingInput">Confirm Password</label>
                              </div>
                           </div>

                           <div class="col-md-12 mb-3">
                              <input type="submit" value="Reset Password">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}